.address-area h4.section-title{ 
    text-align: left;
    margin-bottom: 2rem; 
}

.address-wrapper{ 
    margin-top: 2rem; 
}



/*  ----------------- add-address ---------------*/

.add-address{ 
    display: flex;
    justify-content: space-between !important;
    background: #0572CF;     
    align-items: baseline;
    padding: .4rem 1rem; 
    margin-top: 2rem; 
    
}


.add-address h4 { 
    color: #fff; 
}


.add-address button { 
    border-radius: 20px;

}



.single-address { 
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 1rem; 
}


.single-address  input { 
    margin-right: 2rem; 
}

.single-address { 
    margin-top: 1rem; 
}

.single-address:last-child{ 
    margin-bottom: 1rem; ;
}



.add-address-form label { 
    text-align: left !important;
    margin-bottom: .4rem; 
}


.add-address-form input { 
    padding-left: 1rem; 
}

.add-address-form { 
    text-align: left;
}


.address-wrapper .error-message { 
    text-align: left; 
}

.err-message{ 
    color: red; 
}